@model dynamic;


@{
    ViewData["Title"] = "Details";
}

<h2>Sacrament Program Details </h2>

<div class="detailsContainer">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Date
        </dt>
        <dd class="col-sm-10" id="dElem">
            @Model.sacrament.Date
        </dd>
        <dt class="col-sm-2">
            Bishopric
        </dt>
        <dd class="col-sm-10" id="dElem">
            @Model.sacrament.BishopricName
        </dd>
        <dt class="col-sm-2">
            Opening Song
        </dt>
        <dd class="col-sm-10" id="dElem">
            @Model.sacrament.OpeningSong
        </dd>
        <dt class="col-sm-2">
            Invocation
        </dt>
        <dd class="col-sm-10" id="dElem">
            @Model.sacrament.Invocation
        </dd>
        <dt class="col-sm-2">
            Sacrament Hymn .
        </dt>
        <dd class="col-sm-10" id="dElem">
            @Model.sacrament.SacramentHymn
        </dd>
        <dt class="col-sm-2">
            Intermediate Song 
        </dt>
        <dd class="col-sm-10" id="dElem">
            @Model.sacrament.IntermediateSong
        </dd>

        @foreach(Speakers s in Model.speakers)
        {
            <dt class="col-sm-2">
                Speaker
            </dt>
            <dd class="col-sm-10" id="dElem">
                @s.MemberName (@s.Topic)
            </dd>
        }


        <dt class="col-sm-2">
            Closing Song
        </dt>
        <dd class="col-sm-10" id="dElem">
            @Model.sacrament.ClosingSong
        </dd>
        <dt class="col-sm-2">
            Benediction
        </dt>
        <dd class="col-sm-10" id="dElem">
            @Model.sacrament.Benediction
        </dd>
    </dl>
</div>
<div class="bottom">
    <a asp-action="Edit" asp-route-id="@Model.sacrament.SacramentMeetingPlanId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
