@model IEnumerable<Sacrament_Meeting_Planner.Models.SacramentMeetingPlan>

@{
    ViewData["Title"] = "Index";
}

<h2>Sacrament Planner</h2>

<p>
    <br />
    <a asp-action="Create" class="btn btn-primary">Create New</a>
    <br /><br />
</p>
<table class="table" id="tablesize">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.BishopricName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningSong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SacramentHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntermediateSong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingSong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Benediction)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.BishopricName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningSong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntermediateSong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingSong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Benediction)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.SacramentMeetingPlanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SacramentMeetingPlanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SacramentMeetingPlanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
