@model IEnumerable<Sacrament_Meeting_Planner.Models.Speakers>

@{
    ViewData["Title"] = "Index";
}

<h2>Speakers</h2>

<p>
    <br />
    <a asp-action="Create" class="btn btn-primary">Create New</a>
    <br /><br />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
         
            <td>
                <a asp-action="Edit" asp-route-id="@item.SpeakersId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SpeakersId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SpeakersId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<br /><br /><br />
<a href="/SacramentMeetingPlans/Index" class="btn btn-primary">Done</a>
